* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

section {
  margin: auto;
  margin-top: 1rem;
  background-color: white;
  width: 60vh;
  height: 40vh;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1,
footer {
  margin-top: 2rem;
  color: white;
}

img {
  margin-top: 1rem;
  border-radius: 50%;
}
